---
Language: Cpp
BasedOnStyle: Google
Standard: c++20

ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Left
BreakBeforeBraces: Mozilla
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
IncludeBlocks: Preserve
SortIncludes: CaseSensitive